body {
    font-family: Arial, sans-serif;
    background-color: #485053;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    padding: 10px;
    border-radius: 5px;
}

.todo-app {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f2f2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    border-bottom: 1px solid #746d6d;
}

li span {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    display: block;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

button {
    background-color: #f6f2f2;
    padding: 5px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: calc(100% - 100px);
}
